<?xml version='1.0' encoding = 'utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/storage_manager_db?serverTimezone=Europe/Warsaw&amp;createDatabaseIfNotExist=true
        </property>

        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property> <!--Ustaw se hasło i usera jako to samo przy bazie. i nazwa bazy to storabeManager_db-->
        <property name="connection.password">root123!</property>
        <property name="hbm2ddl.auto">update</property>
<!--        true by widziec zpytania hqsl'owe.-->
        <property name="show_sql">false</property>

        <mapping class="com.sda.javagda40.ciechmar.storageManager.model.AppUser"/>
        <mapping class="com.sda.javagda40.ciechmar.storageManager.model.Address"/>
        <mapping class="com.sda.javagda40.ciechmar.storageManager.model.CompanyData"/>
        <mapping class="com.sda.javagda40.ciechmar.storageManager.model.Storage"/>
        <mapping class="com.sda.javagda40.ciechmar.storageManager.model.Rent"/>
<!--        <mapping class="com.sda.javagda40.ciechmar.storageManager.model."/>-->
    </session-factory>
</hibernate-configuration>
